<!doctype html>
<html lang="{{ site.Language.Lang }}">
<head>
{{- partial "kit.html" . -}}
{{- partial "head.html" . }}
</head>
<body class="{{ block "bodyclass" . }}{{ end }}">
<a class="skip" href="#main">{{ T "skip" }}</a>
{{ partial "header.html" . }}
<main id="main">
{{ block "main" . }}{{ end }}
</main>
{{ partial "footer.html" . }}
{{- with resources.Get "js/theme.js" | minify | fingerprint }}
<script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" defer></script>
{{- end }}
</body>
</html>
